<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings
        -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/perun</property>
        <property name="connection.username">perun</property>
        <property name="connection.password">123</property>
        <!--  JDBC connection pool (use the built-in)
        -->
        <property name="connection.pool_size">3</property>

		<!--  SQL dialect
        -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

		<!--  Echo all executed SQL to stdout
        -->
		<property name="show_sql">true</property>

        <!--<property name="cache.provider_class">org.hibernate.cache.internal.CollectionCacheInvalidator</property>-->


		<property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>

		<property name="cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</property>

		<property name="cache.use_second_level_cache">true</property>

		<property name="hibernate.cache.use_query_cache">true</property>

		<property name="net.sf.ehcache.configurationResourceName">/home/peterko/Dokumenty/perun/perun/perun-core/src/main/resources/ehcache.xml</property>

		<!--<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>-->

		<!--
                <property name="cache.provider_class">org.hibernate.cache.internal.CollectionCacheInvalidator</property>
        -->


        <!--
        -->
        <property name="hbm2ddl.auto">update</property>

        <!--  Names the annotated entity class-->

        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping resource="hibernateMapping/Facility.hbm.xml" />
        <mapping resource="hibernateMapping/User.hbm.xml" />
        <mapping resource="hibernateMapping/UserExtSource.hbm.xml" />
        <mapping resource="hibernateMapping/ExtSource.hbm.xml" />
        <mapping resource="hibernateMapping/Resource.hbm.xml" />
        <mapping resource="hibernateMapping/Service.hbm.xml" />
        <mapping resource="hibernateMapping/Vo.hbm.xml" />
        <mapping resource="hibernateMapping/Group.hbm.xml" />
        <mapping resource="hibernateMapping/Member.hbm.xml" />

    </session-factory>
</hibernate-configuration>